body {
    background-color: maroon;
    background-image: linear-gradient(blue,silver);
    border: 20px;
    margin: 20px;
    padding: 20px;
    border-style: groove;
    outline-style: dotted;

    

}

h3 {
    font-family: cursive;
    color: pink;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px silver;
}

ul {
    border-radius: 15px 50px 30px;
    padding: 20px;
    box-shadow: 10px 10px silver;
}
a:hover {
    color: maroon;
}
.btn:hover {
    color: blue;
    background-color: silver;
}
.panel {
    box-shadow: 10px 10px lightgreen;  
}

