<!-- DOCTYPE, html -->
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{title}} </title>
        {% else %}
        <title>Welcome to the best News Articles Website </title>
        {% endif %}
        

    </head>
    <body>
        <!-- Sports source section -->
        <h3> Top sports news sources</h3>
        <ul>
            {% for sports_source in sports %}
            <li> {{sports_source.name}} </li>
            {% endfor %}
        </ul>
    </body>
</html>