{% import 'macros.html' as macro %}
{% extends 'base.html' %}

<!-- Style block -->
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
    


<!-- Content block -->
{% block content %}
<div class="container">
    <form>
            <input type="text" name="movie_query" placeholder="Search for a News Source" class="form-control">
            <input type="submit"  value="Submit" class="btn btn-danger">


    </form>

</div>


<!-- Sports source section -->
<h3> Top sports news sources</h3>
<ul>
    {{ macro.displaySourceList(sports) }}
</ul>
<!-- Entertainment source section -->
<h3> Top Entertainment news sources</h3>
<ul>
    {{ macro.displaySourceList(entertainment) }}
</ul>
<!-- Business source section -->
<h3> Top Business news sources</h3>
<ul>
    {{macro.displaySourceList(business)}}
</ul>
<!-- Politics source section -->
<!-- <h3> Top Politics news sources</h3>
<ul>
    {{macro.displaySourceList(politics)}}
</ul> -->
<!-- Technology source section -->
<h3> Top Technology news sources</h3>
<ul>
    {{ macro.displaySourceList(technology)}}
</ul>

{% endblock %}
    
   