{% macro displaySourceList(source_list) %}
    {%if source_list is not none%}
    {% for source_row in source_list |batch(4)%}
        <div class="row">

        {% for source in source_row %}
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4>{{source.id}} 
                    </h4>
                    <div class="panel-body">
                        <p>
                            {{source.description |truncate(150)}}
                        </p>
                        <a href="{{source.url}}" class="btn btn-primary btn-sm">Check {{source.name}} </a>

                    </div>

                </div>

            </div>


        </div>
           
        {% endfor %}
    </div>
    {% endfor%}
    {% endif %}
{% endmacro %}
{% macro displayArticleList(article_list) %}
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 article-card">
            {%if article_list is not none%}
            {% for article_row in article_list |batch(4)%}
            <div class='row'>
                    <li>{{ article.name}}</li>
            </div>
    
            {% endfor %}
            {% endif %}
    </div>

{% endmacro %}


